@page "/onboarding/3"

<div class="mw-body-grad">
    <div class="mv-body-waves">
        <div class="mv-onboarding-header">
            Nurture your habits
        </div>

        <img src="svg/onboarding_3.svg" class="mv-onboarding-image" />

        <div class="mv-onboarding-bottom"></div>

        <div class="mv-onboarding-text">Nurture habits transparently and communicate with friends</div>

        <div style="text-align:center; margin-top: 3vh;">
            <NavLink href="/test/page/1"><Button Size="large" Type="primary" Class="mv-onboarding-button">Test yourself</Button></NavLink>
        </div>

        <div class="mv-onboarding-navigation">
            <div class="mv-onboarding-circle"></div>
            <div class="mv-onboarding-circle"></div>
            <div class="mv-onboarding-circle mv-active"></div>
        </div>
    </div>
</div>

<style>
    .mw-body-grad {
        height: 100vh;
        z-index: 1;
        background-image: linear-gradient(to bottom, #09c5ca 1%, #ff876e 99%);
    }

    .mv-body-waves {
        height: 100vh;
        z-index: 2;
        background-position-x: center;
        background-position-y: 90%;
        background-image: url('svg/waves3.svg');
    }

    .mv-onboarding-header {
        margin: 0 auto;
        padding-top: 15vh;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        max-width: 285px;
        color: #ffffff;
    }

    .mv-onboarding-image {
        display: block;
        margin: 8vh auto 2vh;
        max-height: 40vh;
    }

    .mv-onboarding-text {
        color: #ffffff;
        max-width: 353px;
        margin: 0 auto;
        font-size: 24px;
        text-align: center;
    }

    .mv-onboarding-button {
        padding: 0 30px;
        font-size: 18px;
        font-weight: 600;
    }

    .mv-onboarding-navigation {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    .mv-onboarding-circle {
        height: 15px;
        width: 15px;
        display: inline-block;
        margin: 0 5px 20px;
        border-radius: 50px;
        background-color: #ffffff;
    }

    .mv-active {
        background-color: #108ee9;
    }
</style>

@code {

}
