@page "/onboarding"

<div>
    <Carousel>
        <CarouselSlick>
            <Onboarding1Component></Onboarding1Component>
        </CarouselSlick>
        <CarouselSlick>
            <Onboarding2Component></Onboarding2Component>
        </CarouselSlick>
        <CarouselSlick>
            <Onboarding3Component></Onboarding3Component>
        </CarouselSlick>
    </Carousel>
</div>


@code {

}
