@page "/onboarding/2"

<div class="mw-body-grad">
    
    <div class="mv-body-waves">
        <div class="mv-onboarding-header">
            Become a magician
        </div>

        <img src="svg/onboarding_2.svg" class="mv-onboarding-image" />

        <div class="mv-onboarding-bottom"></div>

        <div class="mv-onboarding-text">Learn some magic of time and space control with time management techniques</div>

    </div>
</div>

<style>
    .mv-onboarding-cover {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 5;
    }

    .mw-body-grad {
        height: 100vh;
        z-index: 1;
        background-image: linear-gradient(to bottom, #ffa3d0 1%, #98b4d9 99%);
    }

    .mv-body-waves {
        height: 100vh;
        z-index: 2;
        background-position-x: center;
        background-position-y: 80%;
        background-image: url('svg/waves5.svg');
        
    }

    .mv-onboarding-header {
        margin: 0 auto;
        padding-top: 15vh;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        max-width: 285px;
        color: #ffffff;
    }

    .mv-onboarding-image {
        display: block;
        margin: 10vh auto;
        max-height: 30vh;
    }

    .mv-onboarding-text {
        color: #ffffff;
        max-width: 353px;
        margin: 0 auto;
        font-size: 24px;
        text-align: center;
    }

    .mv-onboarding-navigation {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    .mv-onboarding-circle {
        height: 15px;
        width: 15px;
        display: inline-block;
        margin: 0 5px 20px;
        border-radius: 50px;
        background-color: #ffffff;
    }

    .mv-active {
        background-color: #108ee9;
    }
</style>

@code {

}
