@page "/onboarding"

<div>
    <Carousel @ref="carousel">
        <CarouselSlick>
            <Onboarding1Component></Onboarding1Component>
        </CarouselSlick>
        <CarouselSlick>
            <Onboarding2Component></Onboarding2Component>
        </CarouselSlick>
        <CarouselSlick>
            <Onboarding3Component></Onboarding3Component>
        </CarouselSlick>
    </Carousel>
</div>
<RealityShiftLearning.Components.GestureDetector OnLeft="() => Next()" OnRight="() => Previous()"/>
@code {
    private Carousel carousel;
    private int index = 0;
    private void Next()
    {
        if (index != 2)
        {
            carousel.Next();
            index++;
        }
    }
    private void Previous()
    {
        if (index != 0)
        {
            carousel.Previous();
            index--;
        }
    }
}
