@page "/test/page/2"
@inject NavigationManager NavigationManager

<div class="mw-body-grad">
    <div class="mv-body-waves">
        <div class="mv-test-header">
            Which time management techniques are you familiar with?
        </div>

        <div class="mv-test-checkboxgroup">
            @foreach (var option in options.Select((option, index) => (option, index)))
            {
                <Row Class="@(option.index % 2 == 0 ? "covered" : null)">
                    <Checkbox Class="mv-test-ant-checkbox" Value="@result[option.option.Label]" CheckedChange="@(() => result[option.option.Label] = !result[option.option.Label])">@option.option.Value</Checkbox>
                </Row>
            }
        </div>

        <div class="mw-test-footer">
            <div class="mw-test-footer-item big">
                <Button Type="primary" Size="large" @onclick="NextPart">Next</Button>
            </div>
            <div class="mw-test-footer-item tr">
                <Button Type="link" Size="large">See more habits</Button>
            </div>

        </div>

        
    </div>
</div>

<style>
    .mw-body-grad {
        height: 100vh;
        z-index: 1;
        background-image: linear-gradient(to bottom, #5a63ff, #5ec9cc);
    }

    .mv-body-waves {
        height: 100vh;
        z-index: 2;
        background-position-x: center;
        background-position-y: 80%;
        background-image: url('svg/waves3.svg');
    }

    .covered {
        background-color: rgba(160, 178, 216, 0.7);
    }

    .ant-row {
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }

    .mv-test-header {
        margin: 0 auto;
        padding: 15vh 0 5vh;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        max-width: 285px;
        color: #ffffff;
    }

    .mv-test-ant-checkbox {
        width: 100%;
        font-size: 18px !important;
        font-weight: 600;
        color: #FFFFFF;
        margin: 1vh 0 1vh 20%;
    }

    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
        margin-left: 0;
    }

    .mw-bottom {
        position: absolute;
        bottom: 0;
        height: 120px;
        width: 100vw;
        text-align: center;
    }

    .mw-test-button {
        padding: 0px 40px;
        margin: 0 0 15px;
        font-size: 18px !important;
        font-weight: 600;
    }

    .mv-test-checkboxgroup {
        display: grid
    }

    .mv-test-checkboxgroup span:first-child {
        margin-right: 30px;
    }

    .mw-test-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 65px;
        display: flex;
        flex-direction: column;
    }

    .mw-test-footer-item {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    .mw-test-footer-item > * {
        color: white !important;
    }

    .mw-test-footer-item.tr > * {
        color: white !important;
        opacity: .7;
    }

    .mw-test-footer-item.big > * {
        padding: 0px 40px;
        font-size: 18px !important;
        font-weight: 600;
    }

</style>

@code {
    Dictionary<string, bool> result = new Dictionary<string, bool>();

    CheckboxOption[] options = new CheckboxOption[]
    {
        new CheckboxOption { Label = "drinking", Value = "Drinking water" },
        new CheckboxOption { Label = "fitness", Value = "5 minute fitness" },
        new CheckboxOption { Label = "eye", Value = "Eye exercise" },
        new CheckboxOption { Label = "social", Value = "Reduce social networking" },
        new CheckboxOption { Label = "none", Value = "None" }
            };

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        result.Add("drinking", false);
        result.Add("fitness", false);
        result.Add("eye", false);
        result.Add("social", false);
        result.Add("none", false);
    }

    protected void NextPart()
    {
        foreach (var o in result)
        {
            if (o.Value)
            {
                Console.WriteLine(o.Key);
            }
        }
        NavigationManager.NavigateTo("/test/page/3");
    }
}
