@page "/tomato-relax"
@inject NavigationManager nav
@inject RealityShiftLearning.Services.TimerService Timer



<div class="mw-containter mw-tomato-relax">
    <div class="mw-bg-waves">
        <img class="mw-bg-waves-img" />
    </div>

    <div class="mw-tomatoPage-topper">

        <div class="mw-subheader"><img class="mw-backBtn" /> English Literature: Translation</div>
    </div>

    <div class="mw-tomatoPage-timer">

        <RealityShiftLearning.Components.CustomCountDown Timer="timer">
            @context.TimeToNextCheckpointString
            <div class="mw-tomatoPage-timer-secondary">@context.TimeToNextCheckpointString</div>
        </RealityShiftLearning.Components.CustomCountDown>
    </div>


    <img class="mw-tomatoPage-tomato" />

    <div class="mw-text">
        Good job! Why don’t we water flowers?
    </div>

    <Row Class="covered">
        <Checkbox Class="mv-test-ant-checkbox" Value="false">Опция 1</Checkbox>
    </Row>

    <div class="mw-tomatoPage-footer">
        <div class="mw-tomatoPage-footer-item big">
            <Button @onclick='() => { nav.NavigateTo("/onboarding"); }' Type="primary" Size="large">Skip rest</Button>
        </div>

        <div class="mw-tomatoPage-footer-item tr">
            <Button @onclick='() => { nav.NavigateTo("/onboarding"); }' Type="link" Size="large">Finish for today</Button>
        </div>

    </div>

</div>


<style>

    .mv-test-ant-checkbox {
        width: 100%;
        font-size: 18px !important;
        color: #ffffff;
        font-weight: 600;
        margin: 1vh 0 1vh 20%;
    }

    .covered {
        background-color: rgba(160, 178, 216, 0.7);
    }

    .ant-row {
        margin-top: 30px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }

    .mv-test-ant-checkbox {
        width: 100%;
        font-size: 18px !important;
        color: #ffffff;
        font-weight: 600;
        1vh 0 1vh calc(50% - 60px)
    }

    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
        margin-left: 0;
    }




    .mw-containter {
        position: relative;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

        .mw-containter.mw-tomato-relax {
            background-image: linear-gradient(to bottom, #5a63ff, #5ec9cc);
        }

        .mw-containter.mw-tomato-working {
            background-image: linear-gradient(to bottom, #09c5ca 1%, #ff876e 99%);
        }

    .mw-tomatoPage-tomato {
        content: url(svg/flowers.svg);
        margin: 0 22px;
        height: 250px;
        z-index: 2;
    }


    .mw-text {
        font-family: Helvetica;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        padding: 0 30px;
        margin-top: 30px;
    }

    .mw-tomatoPage-topper {
        font-size: 28px;
        font-weight: 700;
        padding: 0 30px;
        color: #ffffff;
        position: absolute;
        left: 0;
        right: 0;
        top: 5vh;
    }

        .mw-tomatoPage-topper .mw-subheader {
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            position: relative;
        }

    .mw-backBtn {
        position: absolute;
        left: -20px;
        height: 0.8em;
        top: 0.15em;
        display: block;
        content: url(svg/back.svg);
        filter: invert(100%);
    }

    .mw-tomatoPage-timer {
        font-family: Helvetica;
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 15px;
    }

    .mw-tomatoPage-timer-secondary {
        font-family: Helvetica;
        font-size: 90px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: rgba(255, 255, 255, 0.14);
        position: absolute;
        left: -50%;
        right: -50%;
        margin-top: -45px;
        text-align: center;
    }

    .mw-tomatoPage-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 65px;
        display: flex;
        flex-direction: column;
    }

    .mw-tomatoPage-footer-item {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

        .mw-tomatoPage-footer-item > * {
            color: white !important;
        }

        .mw-tomatoPage-footer-item.tr > * {
            color: white !important;
            opacity: .7;
        }

        .mw-tomatoPage-footer-item.big > * {
            padding: 0px 40px;
            font-size: 18px !important;
            font-weight: 600;
        }


    .mw-bg-waves {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mw-bg-waves-img {
        content: url(svg/waves3.svg);
        margin-right: 550px;
        margin-top: 250px;
        opacity: .5;
    }
</style>

@code {

    DateTimeOffset deadline = DateTimeOffset.Now.AddSeconds(5);

    TomatoTimer timer;
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        timer = await Timer.GetMyCurrentTimer();
    }


    void OnFinish()
    {
        Console.WriteLine("finished!");
    }
}
