@inherits LayoutComponentBase
@inject IJSRuntime js
<div class="mv-body">
    @Body
</div>

<style>
    .mv-body {
        height: 100vh;
        font-size: 18px;
    }
</style>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        var auth = await authenticationStateTask;
        if (auth.User.Identity.IsAuthenticated)
        {
            await js.InvokeVoidAsync("document.mobileAppInterop.setAuthState", true, auth.User.UserId());
        } else
        {
            await js.InvokeVoidAsync("document.mobileAppInterop.setAuthState", false);
        }
    }
}