@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<Layout Class="mw-layout">
    <Content>
        @Body
    </Content>
    <Footer Class="mw-footer">
        <Menu Mode="MenuMode.Horizontal"
              Theme="MenuTheme.Light" @ref="menu">
            <MenuItem Class="mw-menu-item" Key="1" @onclick="ToNotifications">
                <Icon Style="display: block; margin: 0; font-size: 18px" Type="bell" Theme="outline"></Icon>
                <span Style="display: block; text-align: center">Notifications</span>
            </MenuItem>
            <MenuItem Class="mw-menu-item" Key="2" @onclick="ToTasks">
                <Icon Style="display: block; margin: 0; font-size: 18px" Type="file-done" Theme="outline"></Icon>
                <span Style="display: block; text-align: center">Tasks</span>
            </MenuItem>
            <MenuItem Class="mw-menu-item" Key="3" @onclick="ToProgress">
                <Icon Style="display: block; margin: 0; font-size: 18px" Type="line-chart" Theme="outline"></Icon>
                <span Style="display: block; text-align: center">Progress</span>
            </MenuItem>
        </Menu>
    </Footer>
</Layout>

<style>
    .mw-layout {
        height: 100vh;
        width: 100vw;
    }

    .mw-footer {
        padding: 0;
    }

        .mw-footer > ul {
            padding: 10px 0 22px;
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }

    .mw-menu-item {
        grid-row: 1;
    }

    .icon {
        font-size: 18px;
    }
</style>

@code {

    Menu menu;
    private IEnumerable<string> Pathes()
    {
        if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("notifications"))
            yield return "1";
        if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("kanban"))
            yield return "2";
        if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("progress"))
            yield return "3";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("notifications"))
            menu.SelectItem(menu.MenuItems[0]);
        if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("kanban"))
            menu.SelectItem(menu.MenuItems[1]);
        if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("progress"))
            menu.SelectItem(menu.MenuItems[2]);
    }

    void ToTasks()
    {
        NavigationManager.NavigateTo("/kanban");
    }

    void ToNotifications()
    {
        NavigationManager.NavigateTo("/notifications");
    }

    void ToProgress()
    {
        NavigationManager.NavigateTo("/progress");
    }
}
